github_client: <OAuth client id>
github_client_secret: <OAuth token>
frontend_baseurl: http://<Preferred hostname or IP address>:8080
sign_server_username: "test@test.com"
sign_server_password: "test"