# Local stuff
github_client: <OAuth client id>
github_client_secret: <OAuth token>
frontend_baseurl: http://<Preferred hostname or IP address>:8080

# Cloudflare
cloudflare_account_id: "xxxxxxxxxxxxxxxxxxxxxxxxxxxx"
cloudflare_api_token:  "CF_API_TOKEN_WITH_Containers_Edit_And_Workers_Write"
cloudflare_worker_name: "albs-build-gateway"
cloudflare_r2_bucket:  "albs-results"
