# Local stuff
github_client: <OAuth client id>
github_client_secret: <OAuth token>
frontend_baseurl: http://<Preferred hostname or IP address>:8080

# Cloudflare credentials
cloudflare_account_id:  "XXXXXXXXXXXX"
cloudflare_api_token:   "cf_api_token_with_containers_scope"

# Matrix of builders you want the gateway to expose
cloudflare_archs:       ["x86_64", "aarch64"]
cloudflare_releases:    ["or10", "or11"]      # add more later

# Generic settings already used by the role
cf_instance_type: standard
cf_idle_timeout: 300
