name       = "{{ cloudflare_worker_name }}"
account_id = "{{ cloudflare_account_id }}"
main       = "src/worker.js"

[vars]
ALBS_API   = "http://{{ albs_internal_hub }}"

{% for rel in cloudflare_releases %}
{%   for arch in cloudflare_archs %}
[[containers]]
class_name    = "Build_{{ arch }}_{{ rel }}"
image         = "./Dockerfile"                  # universal image
instance_type = "{{ cf_instance_type }}"
sleep_after   = "{{ cf_idle_timeout }}s"
{%   endfor %}
{% endfor %}